*{
  padding: 0px;
  margin: 0px;
}

body {
  background-color: blue;
}

.nav-bar {
  padding: 10px 10px 0px 0px;
  background-color: black;
  color:white;
  display: flex;
  justify-content: space-between;
}

.nav-bar ul {
  list-style: none;
  display: flex;
}