*{
  padding: 0px;
  margin: 0px;
}

a:hover {
  color: red;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
  
}


.nav-bar {
  padding: 10px 10px 0px 0px;
  background-color: #708090;
  color:white;
  display: flex;
  justify-content: space-between;
}

.nav-bar ul {
  list-style: none;
  display: flex;
}